.article-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh;
}

hr {
  width: 49vw;
  color: black;
  size: 2;
  margin: 2vh;
}

.article-title {
  margin: 2vh;
}

.article-img {
  margin: 2vh;
}
