.article-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  /* padding: 5vh; */
  width: 50vw;
  height: 75vh;
}

.article-abstract {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
